@tailwind base;
@tailwind components;
@tailwind utilities;


.participant-item {
  position: relative; /* Essencial para o posicionamento do preview flutuante */
  cursor: pointer;
}

.floating-preview-container {
  display: none; /* Inicia escondido */
  position: absolute;
  top: 0;
  left: 100%; /* Posiciona à direita do item do participante */
  z-index: 10;
  padding-left: 10px;
}

.participant-item:hover .floating-preview-container {
  display: block; /* Mostra o preview ao passar o mouse */
}

.floating-preview-frame {
  width: 300px; /* Tamanho da janela do preview */
  height: 150px;
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}
